/** ===========================================================================
 * Font sizes.
  ===========================================================================*/
  
$font-normal: 15px;
$text-normal: 1rem;
$text-medium: 2rem;
$text-large: 3rem;
