// Visibility classes
//
// Markup:
//   <span class="visible">Visible</span>
//   <span class="visible-mobile">Visible on mobile devices</span>
//   <span class="visible-tablet">Visible on tablets</span>
//   <span class="visible-desktop">Visible on desktop</span>
//
// Style guide: common.visibility
.visible {
  display: block;
}

.visible-mobile {
  @include media(tablet) {
    display: none;
  }
}

.visible-tablet {
  @include media(desktop) {
    display: none;
  }
}

.visible-desktop {
  @include media-max(desktop) {
    display: none;
  }
}
// End visibility classes