// Default values for main HTML elements
//
// Style guide: defaults

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: $base-font;
  line-height: 1.5;
  color: $body-color;
  background-color: $body-background-color;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  color: $selection-color;
  background: $selection-bg;
}

::-moz-selection {
  color: $selection-color;
  background: $selection-bg;
}


// Link
//
// Markup:
//   <a href="#">Default link</a>
//   <a href="https://google.com">External link</a>
//
// Style guide: defaults.link
%link-hover {
  color: $link-hover-color;
  text-decoration: none;
  transition: color ($transition-time/2);
}

a {
  outline-color: $link-color;
  transition: color $transition-time;
  color: $link-color;

  &:hover,
  &:active {
    @extend %link-hover;
  }
}

// Ellipsis
//
// Markup:
// <div class="ellipsis" style="width:200px">Class .ellipsis to cut text that is too much</div>
//
// Style guide Helper classes.ellipsis
.ellipsis {
  @extend %ellipsis;
}