/* Default */

.submitted > span {
  opacity: $disabled-opacity;
}

table.sticky-header {
  background: $body-background-color;
}

/* Admin tabs and some buttons */

.tabs ul,
.action-links,
.field-collection-view-links,
#main-wrapper .links.inline {
  margin: 0;

  @extend %clearfix;

  li {
    float: left;
    margin: 0 $form-space $form-space 0;
    list-style: none;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @extend %button;
  }
}

.tabs ul {
  padding: 0;
}

.action-links,
.field-collection-view-links,
#main-wrapper .links.inline {
  padding: $form-space 0 0 0;
}

.form-actions {
  @extend %clearfix;

  input {
    margin: $form-space $form-space 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Forms */

.form-wrapper {
  margin-bottom: $form-space;
}

.form-item {
  padding: ($form-space/2) 0;

  label {
    display: block;
    padding: ($form-space/3) 0;
  }

  .description {
    padding: ($form-space/3) 0;
    font-style: italic;
    opacity: $disabled-opacity;
  }
}

.form-type-radio,
.form-type-checkbox {
  input {
    margin: ($form-space/3) 0;
  }

  label {
    display: inline;
  }
}

.form-file {
  margin-right: $form-space;
}

fieldset {
  margin: $form-space 0;
  padding: $form-space;
  border: 1px solid rgba($body-color, $disabled-opacity);

  legend {
    padding: 0 $form-space;

    a {
      text-decoration: none;
    }
  }
}

/* Password in forms */

div.password-suggestions,
div.password-confirm {
  display: none;
}

#field-password-add-more-wrapper .password-parent {
  position: relative;
}

div.password-strength {
  position: absolute;
  bottom: ($form-space/2);
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  margin-bottom: -5px;

  .password-indicator {
    height: 3px;
    background-color: lighten($messages-error, 33%);

    .indicator {
      height: 3px;
      background-color: lighten($messages-ok, 33%);
    }
  }

  .password-strength-text,
  .password-strength-title {
    display: none;
  }
}

.password-suggestions.description {
  font-style: italic;
  opacity: $disabled-opacity;
}

/* Webforms */

.webform-client-form {
  .webform-component {
    border-bottom: 1px solid rgba($body-color, $disabled-opacity);
  }

  table {
    th,
    td {
      padding: ($form-space/3);
      border: 1px solid rgba($body-color, $disabled-opacity);
    }

    .form-item {
      padding: 0;
    }
  }
}

.webform-container-inline.form-item label {
  display: inline;
}

.webform-progressbar {
  padding: ($form-space*2) 0;
}

.webform-confirmation {
  padding: $form-space 0;

  + .links {
    a {
      margin: $form-space $form-space 0 0;

      @extend %button;
    }
  }
}

.form-item-submitted-component-time-ampm {
  margin-left: ($form-space/2);

  label {
    margin-right: 0;
  }
}

/* Messages and errors (copied from the original CSS) */

div.messages {
  padding: $form-space;

  ul {
    margin: 0 0 0 $form-space;
    padding: 0;
  }

  p {
    margin: 0;

    + p {
      margin-top: $form-space;
    }
  }
}

div.status {
  border-color: $messages-ok;
}
div.status,
.ok {
  color: $messages-ok;
}
div.status,
table tr.ok {
  background-color: $messages-ok-background;
}

div.warning {
  border-color: $messages-warn;
}
div.warning,
.warning {
  color: $messages-warn;
}
div.warning,
table tr.warning {
  background-color: $messages-warn-background;
}

div.error {
  border-color: $messages-error;
}
div.error,
.error {
  color: $messages-error;
}
div.error,
table tr.error {
  background-color: $messages-error-background;
}
div.error p.error {
  color: $body-color;
}

.marker,
.form-required {
  color: $messages-error;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid $messages-error;
}

input.error {
  border: 1px solid $messages-error !important;
  background: $messages-error-background !important;
}